.myexpert {
    text-align: center;
   background-color:#1ccfe3;
    height: 60vh;
    
    margin-block: 20px;
    margin-inline:50px;
    border-radius: 10px;
    
  }
.myexpert h1{
    color: #615656;
    font-size: 30px;
    font-weight: 700;
}
.myexpert hr{
    display: inline-block;
   
    border: none;
    width: 100px;
    height: 3px;
    border-radius: 10px;
    background-color: #f41f41;
    margin-top:5px;
    margin-bottom: 20px;
}

  
  .expertise-cards {
    display: flex;
    justify-content: space-around;
   
    
  }
  

  